<header class="header">
  <nav class="nav" role="navigation">
    <div class="nav-left">
      <a class="nav-item">
        <img src="<%= static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix's logo">
      </a>
    </div>

    <div class="nav-right">
      <%= link("Chat Rooms", to: chat_room_path(@conn, :index), class: "nav-item") %>
    </div>
  </nav>
</header>
