<%= render ChatApp.SharedView, "title.html", title: "Edit chat room" %>

<%= render "form.html", changeset: @changeset,
                        back_to: chat_room_path(@conn, :index),
                        action: chat_room_path(@conn, :update, @chat_room) %>
