<%= render ChatApp.SharedView, "title.html", title: "New chat room" %>

<%= render "form.html", changeset: @changeset,
                        back_to: chat_room_path(@conn, :index),
                        action: chat_room_path(@conn, :create) %>
